[2020-04-20 16:13] laurentS opened #1 "Support for default limit"
There should be a way to declare a default set of limits that apply to all endpoints without explicitly marking each endpoint with the decorator.

[2020-04-23 12:32] HereComesTheRainAgain opened #2 "Limit rate issue"
I've tested limit rate locally and it works fine.

After I deployed application on AWS, rates did't work at all until I set redis as storage.

But even with redis, rate limit seems to be broken.
Limit is exceeded after ~10th attempt, and I've set limit to 5.

I've checked redis value for the key inserted by limiter, and I think it did not count every attempt.

I'm using FastAPI 0.45.0 and slowapi

[2020-04-23 17:48] laurentS commented on #2
Hi @HereComesTheRainAgain thanks for reporting the issue! I've only tested against FastAPI 0.52.0, so it might be worth checking with that version to see if the issue is still present.

That said, could you share the exact configuration you used so I can try and replicate your setup? The route decorator and limits you've set, and how you instantiated the `Limiter` class?

[2020-04-23 18:01] HereComesTheRainAgain commented on #2
Sure,

there is limiter class:
`limiter = Limiter(key_func=get_remote_address, storage_uri=config.REDIS_URL)`

I've used this decorator:
`@limiter.limit("5/minute")`

And this is app setup:
[code]

[2020-04-23 18:27] laurentS commented on #2
By default, the limiter uses a `fixed-window` strategy, which is described [here](https://limits.readthedocs.io/en/stable/strategies.html). With this setup, it is possible to go over the 5/minute limit, as is explained in the link. You could try passing `strategy="moving-window"` or `strategy="fixed-window-elastic-expiry"` to the `Limiter` constructor and see if that is the issue. If not, I'll kee

[2020-04-23 18:48] HereComesTheRainAgain commented on #2
I will try with `strategy="moving-window"`, it seems like best choice to me.
Will write to you after I test it.

Thanks a lot!

[2020-04-24 07:47] HereComesTheRainAgain commented on #2
Hi @laurentS,

I have changed strategy to `"moving-window"` but issue is still present.

I can confirm that issue occurs because counter in the redis does not have correct value and is not increased on every request.

[2020-04-24 15:21] laurentS commented on #2
@HereComesTheRainAgain I have been trying a few variants locally but have not been able to reproduce your issue. Another idea to try and narrow down the cause: I imagine your AWS deployment is using more than one FastAPI worker. Would you be able to test with a single worker to see if the problem is still present?

[2020-04-24 16:33] HereComesTheRainAgain commented on #2
@laurentS you are right, we use more than 1 worker.
Could you, please, try to use 1 worker per core locally, thats what we have on AWS?

[2020-04-26 16:09] laurentS commented on #2
@HereComesTheRainAgain I have tried running locally with 4 gunicorn workers, but have not been able to reproduce the problem you're facing.
How many requests did you hit the server with before it failed? I have not load tested, so I'm not sure how far the limits can stretch.

Here are a few more ideas:
- redis has 16 databases (0 to 15). Are all your requests hitting the same db?
- you seem to be

[2020-04-27 09:45] HereComesTheRainAgain commented on #2
@laurentS I've checked `redis-cli` on our AWS instance, and it seems to me that `get_remote_address` works fine, since I only had one `LIMITER ...` key.
So it probably have something to do with our setup, since all is working OK on your side.

I will look into this and write if I come to any conclusion.

Thanks for the effort!

[2020-04-27 15:17] laurentS opened #3 "Convert the code to async"
As both starlette and FastAPI are fully async, there is no reason to keep this extension running synchronously. Going async should help save a few ms while fetching data from Redis or memcached for instance.

[2020-04-29 07:34] HereComesTheRainAgain commented on #2
@laurentS issue is caused because our app is not getting right IP, it has to do something with `uvicorn` configuration.

We need to set `forwarded_allow_ips` parameter to `*` in order to get right client info.

When `uvicorn` releases version which contains changes from PR related to that part, I will test everything again and if it works - close this issue.

[2020-05-26 15:27] HereComesTheRainAgain commented on #2
@laurentS the issue was not related to your library, but to the `uvicorn`.
It will probably be fixed after this PR is released: https://github.com/encode/uvicorn/pull/591

[2020-05-26 15:27] #2 closed

[2020-05-26 15:38] laurentS commented on #2
@HereComesTheRainAgain thanks for the update, glad that you managed to figure out your issue!

[2020-06-01 22:29] danieljfarrell opened #5 "Is it possible to conditionally rate limit depending on HTTP header information?"
Thanks for this project and a great name!

An example of conditional rate limiting: rate limit a REST endpoint to 1 call per minute *per user*. The user can be identified by a token in the HTTP header. I appreciate adding predicates other than time can make this messy fast! At the same time, I'm sure this is an extremely common problem. I guess people resort to solving this in there apps because t

[2020-06-02 10:32] laurentS commented on #5
Hi @danieljfarrell, thanks for your interest!
You can rate limit based on the request header quite easily. Essentially you decide how to identify your "user" with the `identify_my_user_func` in the example below (I've copied this from the example code in the README):

[code]

That function gets passed the incoming `Request` object, and returns a string which determines which user's limits the requ

[2020-06-02 11:43] danieljfarrell commented on #5
That’s brilliant! It’s hard to make this so extendable in an elegant way. I will give it a go.

[2020-06-02 11:43] #5 closed

[2020-06-03 04:37] swicaksono opened #6 "rate limit issue"
Hi, thank you for making this great tools.
I have an issue when I set a rate limit to "1/second". After initiation the service and try to call the api, in the first second I always get error of too many requests.

there is the limiter class:
[code]

I've used this decorator:
[code]
And the app setup:
[code]
Any help? Thanks.

[2020-06-03 09:41] laurentS commented on #6
Hi @swicaksono, thanks for your kind words!
Have you configured a backend, or are you using the default in-memory one? Are you seeing the HTTP 429 status code from the very first request? The `get_remote_address` function that comes with `slowapi` is very basic, and often returns the wrong IP address for the requester. See #2 for some ideas.
Do you still have the problem if you raise the limit to

[2020-06-04 01:23] NotoriousRebel commented on #3
Any updates on this?

[2020-06-09 08:23] laurentS commented on #3
@NotoriousRebel I'm going to try to do a first async version this week or next, with a Redis backend.

[2020-06-21 20:44] NotoriousRebel commented on #3
Awesome! This is an awesome project and very useful for an API I have been developing.

[2020-07-01 20:16] Rested commented on #1
ran into this, was there a reason not to implement as a starlette `BaseHTTPMiddleware`? it seems like you started doing that here https://github.com/laurentS/slowapi/blob/4c4141a7dbecf03cd03e0a4529bcf9ba42de687b/slowapi/extension.py#L114 happy to have a crack at implementing that and the exempt decorator

[2020-07-02 17:55] laurentS commented on #1
Hi Reuben,

Indeed I had tried at the start, to replicate the functionally of `flask-limiter`, but I couldn't get it to work the way I wanted. I forget the details, but I think it was something along the lines of Starlette's API not allowing the pattern I had in mind. It has probably changed by now, so feel free to implement, I'd be super grateful for a PR!

On 1 July 2020 21:16:23 BST, Reuben Tho

[2020-08-13 03:54] ducthanh200398 opened #8 "rate limited for route"
![image](https://user-images.githubusercontent.com/64213702/90092451-2ae69500-dd53-11ea-87b0-3ac558e564e5.png)
in flask-limiter we can use limiter.exempt(...) for blueprint or bluprint route. can i do any thing like that at the moment

[2020-08-13 07:36] laurentS commented on #8
Hi @ducthanh200398, thanks for your interest!
As far as I know, FastAPI doesn't have anythling like blueprints, but once I merge #7 you should be able to use the `exempt()` decorator. Note however that right now, there is no default limit, so you can positively mark the routes you want limited with the decorator, and just not decorate the routes you don't want limited.
After the PR is merged, this

[2020-08-24 07:03] ducthanh200398 commented on #8
@laurentS  fastapi have APIRouter work like blueprint in flask, limiter decorator not working vs APIRouter

[2020-08-29 09:25] nocturn9x opened #9 "Documentation?"
Hi, I was looking for a way to rate limit my production FastAPI backend and I stumbled upon this repo, which seems to meet my needs, but lacks documentation. I was able to grasp some stuff from the examples and by reading the source code, but is there any chance to find proper documentation for this project?

Best Regards, and thanks for making this!

[2020-08-29 10:28] laurentS commented on #9
Hi @nocturn9x, thanks for your interest. You're right, there is no proper documentation yet. I'm doing this on my spare time, and there hasn't been enough of it for docs :)
What do you think would be most important to have first? examples? API reference? something else?

[2020-08-29 10:30] nocturn9x commented on #9
First of all, thanks for the time you're dedicating to this project, and to reply to my issues as well :). I think that an API reference would be extremely useful, at least in my opinion, because it would cover the entire codebase. Also, I see you use standard compliant docstrings so using a tool such as sphinx and hosting the documentation on readthedocs shouldn't be too much of a hassle. Example

[2020-08-29 10:39] laurentS commented on #9
Cool, thanks for the feedback! I wasn't aiming to do much more complex stuff than readthedocs or equivalent ;) I'll update this issue when it's available.

[2020-08-29 10:43] nocturn9x commented on #9
I'll take advantage of this open issue to ask another question as well, tell me if I should open another issue instead. But is there any way to return a completely custom JSON response after the rate limit being hit? I have an `APIResponse` object which is  subclass of `pydantic.BaseModel` and would like to return a custom JSON to stay consistent with the rest of my API :)

[2020-08-29 10:47] laurentS commented on #9
Can you open a separate ticket for this? I don't have an immediate answer for you, but I think there should be a way to do it. Can you include an example of what you'd like as a JSON response?

[2020-08-29 10:54] nocturn9x opened #10 "Return a custom JSON-like object when rate limit is hit"
I know it is possible to specify the error message in the `limit` decorator, but I'm building a very complex API and all of my requests need to be consistent and follow a specific schema that I represented using a `pydantic.BaseModel` subclass (basically a dataclass on steroids). Is it possible to return such a custom object instead of the default `starlette.responses.JSONResponse`?

My response l

[2020-08-29 10:56] nocturn9x opened #11 "Redis backend configuration"
By reading the source code I figured out that it's possible to setup a redis server to be used as a temporary storage for rate limiting data, but I couldn't figure out how to actually use it with slowapi, is there anything I need to configure/import?

[2020-08-29 10:57] nocturn9x commented on #9
@laurentS sure, done!

[2020-08-29 13:15] laurentS commented on #11
Yes, you can. Take a look at [this other issue](https://github.com/laurentS/slowapi/issues/2#issuecomment-618554972) which gives an example. The url for redis should use this format: `redis://hostname:port`.

I'll add an example to the readme (and the docs ;) )

[2020-08-30 12:44] nocturn9x commented on #11
Marvelous, thanks!

[2020-08-30 12:52] nocturn9x opened #12 "Global limit?"
Is it possible to define a "global" limit (still per-user) to apply to all handlers and then have more restrictive limits on a per-handler basis? If so, how?

[2020-08-30 13:06] laurentS commented on #12
Yes, you can, look at [this PR](https://github.com/laurentS/slowapi/pull/7). I still have to merge it and do a new release, but it should help in the meantime.

[2020-09-09 13:47] #11 closed

[2020-09-09 13:49] nocturn9x commented on #3
Is there any update on this? My backend is fully asynchronous and at the moment I cannot use my helper functions to identify users by their API key because it's an asynchronous function, so I had to fallback to `slowapi.util.get_remote_address`

[2020-09-12 15:17] sdklab007 opened #13 "Dynamic rate limit based on user type"
I need a way to dynamically set the rate limit based on the user type.

For example, I want to limit users without access token & have unlimited access to users with the access token.

What I am currently using:
[code]

I am trying to find a way to conditionally limit 2/minute. Basically I want to increase the limit based on the user type.

[2020-09-12 19:07] laurentS commented on #13
Hi @sdklab007, you should be able to use a callable to pick the limit, like:
[code]
and if you want some users to be exempted from the limit, you should also be able to do:
[code]

I hope this helps!

[2020-09-12 19:20] sdklab007 commented on #13
@laurentS Thank you so much.

[2020-09-13 17:11] sdklab007 commented on #13
@laurentS One more query, how do I get the request object in get_limit_for_user to identify the user.

[2020-09-15 23:01] laurentS commented on #13
@sdklab007 sorry for the lag. I'm afraid I don't have a good solution for your last question. This is a use case which I don't think has been needed so far. The code was ported from `flask-limiter` where it's possible to access the current request object almost like a global variable (see https://github.com/encode/starlette/issues/420 for a bit more on this), and I did not think of this at the tim

[2020-09-17 06:28] sdklab007 commented on #13
@laurentS  Thanks for your kind update. I need to hack a bit as per the link you've shared.

Sure, I will see if I can contribute :)

[2020-09-30 17:54] hruday95 opened #16 "RateLimitExceeded is not imported in the example of README"
RateLimitExceeded is not imported in the example given in README and is causing error during run time.

Add it to the imports :
from slowapi.errors import RateLimitExceeded

[2020-09-30 20:28] laurentS commented on #16
Thanks for reporting this @hruday95, I think the error you're referring to was fixed in #4
If you use the code in the `master` branch instead of the current release 0.1.1, you should see the corrected examples.
Next release will definitely include the fix!

[2020-10-01 04:25] hruday95 commented on #16
@laurentS  also same is with the case of pypi documentation.

https://pypi.org/project/slowapi/

Have to fix it there as well.

[2020-10-01 20:16] Rested opened #17 "Add more tests and documentation to middleware / defaults code"
A follow up from https://github.com/laurentS/slowapi/pull/7 see https://github.com/laurentS/slowapi/pull/7#discussion_r498480566 and https://github.com/Rested/slowapi/blob/07e0e20be76c8efa3518813c4cdbb6962e86fb6d/tests/test_starlette_extension.py#L200

[2020-10-01 22:24] laurentS commented on #9
I've setup minimal docs at https://slowapi.readthedocs.io/en/latest/ Will keep them growing, but thought I'd mention it already!

[2020-10-01 22:55] laurentS commented on #1
Closing this as default limit is now available via the middleware, thank @Rested !

[2020-10-01 22:55] #1 closed

[2020-10-01 22:58] laurentS commented on #16
Good call! I've updated the README and the docs with that in mind, hopefully it is all correct now. Please let me know if you spot any other mistake. Thanks again for pointing it out!

[2020-10-01 22:58] #16 closed

[2020-10-01 22:59] laurentS commented on #12
I've been slow at getting this new release out, but hopefully 0.1.2 does what you need? Let me know if not!

[2020-10-01 23:01] laurentS commented on #8
Just a heads up that #7 is now merged, and released in `0.1.2`. Hope that it works for you!

[2020-10-01 23:02] laurentS commented on #6
@swicaksono are you still having issues with this? If not, can you close the issue?

[2020-11-02 21:40] moayyadfaris opened #18 "Limit Http Headers"
I'm setting a rate limit for a route as below

`from slowapi import Limiter, _rate_limit_exceeded_handler`
`from slowapi.util import get_remote_address`
`limiter = Limiter(key_func=get_remote_address, headers_enabled=True)`

`@router.post("/send-verification-otp", response_model=schemas.Msg)`
`@limiter.limit("1/1 minute")`
`def send_verification_otp(`

Check the below error:

AttributeError: 'dict

[2020-11-02 23:00] laurentS commented on #18
@moayyadfaris could you share the full stack trace, to help understand what the error is?

[2020-11-03 11:31] moayyadfaris commented on #18
Code snippet:

![alt text](https://i.imgur.com/T5uuzV2.png)

Below is the error stack:

![alt text](https://i.imgur.com/7J20nSa.png)

[2020-11-08 22:38] moayyadfaris commented on #18
@laurentS Any update 😇

[2020-11-08 23:04] laurentS commented on #18
I haven't had time to check yet. My gut feeling would be to check your versions of starlette/fastapi vs the ones i have in the `project.toml` for slowapi, and see if the data type for `response` has changed in any way. If not, I'll have to check in more detail.

[2020-12-19 20:48] glinmac commented on #18
@laurentS @moayyadfaris I faced the same issue with the decorator when the endpoint doesn't return an instance of `Response`. This is a valid FastAPI construct and it lets FastAPI do the transformation into a `response_model` or as needed later in the middleware stack.

@moayyadfaris did it happen in this context?

Hopefully, I think that #19 should address it.

[2020-12-21 23:15] laurentS opened #21 "Add support for python 3.9"
There is a problem in CI when trying to install dependencies for python3.9. See [the logs here](https://github.com/laurentS/slowapi/runs/1591824814?check_suite_focus=true) for details.
I'm not even sure why `lxml` is in the dependency list...

[2020-12-21 23:15] laurentS opened #22 "Add support for python3.9"
There is a problem in CI when trying to install dependencies for python3.9. See [the logs here](https://github.com/laurentS/slowapi/runs/1591824814?check_suite_focus=true) for details.
I'm not even sure why `lxml` is in the dependency list...

[2020-12-21 23:15] #22 closed

[2020-12-23 21:43] laurentS opened #23 "Make slowapi available as a dependency for FastAPI?"
As suggested in [this comment](https://github.com/laurentS/slowapi/pull/19#discussion_r547876563) it should be possible to make the functionality available as a dependency for FastAPI.
It looks like this would not be usable in Starlette, so probably only makes sense if the extra code required is minimal.

[2020-12-23 21:47] #18 closed

[2020-12-29 14:45] himalacharya opened #25 "Using slowapi in bigger application"
In test.py from app is run:
[code]
In main.py
[code]

In endpoint user.py, how to use   @limiter.limit("5/minute") ?
[code]
In this use case how to use slowapi in endpoint. I need to **limit to 5 requests per minute per user only and block that user for a minute** Sleep and retry after a minute

In api.py
[code]

[2020-12-29 15:17] laurentS commented on #25
Hi @himalacharya is your question about how to import `limiter` in your endpoint file? Or about limiting per user? In that latter case, you need to define what "user" means. Is it an IP address? their userID? something else?

[2020-12-29 15:20] himalacharya commented on #25
My question is to how to import limiter in endpoint and limiting per user. user is just endpoint name :
http://0.0.0.0:8000/api/v1/user/user

[2020-12-29 19:32] papapumpnz opened #26 "Global default limit in FastAPI"
Setting up the default global limit for all routes using this:

[code]

But all routes are not getting rate limited. If I add the limiter decorator to a route and test it works as expected. What am I missing here?

I am adding routes using separate modules and attaching to app as so :
`app.include_router(data.router)`

[2020-12-29 22:17] laurentS commented on #26
I think you forgot to add the middleware that enables the default/global limit.
[code]

I was about to point you to the relevant example in the docs, but I realise I've managed to make it incorrect, my apologies! I'll fix it after dinner :)
Please let me know if the above works for you.

[2020-12-29 22:49] papapumpnz commented on #26
Yep that did the trick. Working now as expected. Thanks for that, wouldn't have thought to add it as a middleware.

[2020-12-29 22:49] #26 closed

[2020-12-30 00:41] laurentS commented on #25
For the import, you could simply instantiate the `Limiter` in a separate file, say `limiter.py` and then import it in your `main.py` and also in the files where you define your routes.
To limit users, as I mentioned above, you need to decide what a user means. Look at https://slowapi.readthedocs.io/en/latest/ and the FastAPI example, you'll see that the constructor takes a `key_func` argument. Wha

[2020-12-30 03:37] himalacharya commented on #25
I will solve accordingly but @limiter.limit("5/minute") shows "limiter" has no attribute 'limit' error

[2020-12-30 08:24] himalacharya commented on #25
I wrote accordingly but found such error.
[code]
In limiter.py
[code]

In main.py
[code]

[2020-12-30 09:49] laurentS commented on #25
Your code is not importing the `limiter` object but a function, that's why it's not working. You don't need that extra limiter function, you can just define the object in the limiter file and import it elsewhere.

[2020-12-30 11:32] himalacharya commented on #25
I am stuck whole day and couldn't troubleshoot. Could you help  writing limiter file code?

[2020-12-30 12:18] himalacharya commented on #25
Thank you very much

[2020-12-30 12:18] #25 closed

[2020-12-31 02:44] himalacharya commented on #6
Can we ratelimit to 10 per every 15 seconds?

In Issue  #25 , I solved the problem but  I didn't use request:Request in endpoint. It worked without request:request.

[2020-12-31 10:37] himalacharya opened #27 "About redis"
I  havenot mentioned storage_uri in limiter separately.
[code]
 I have created account in redis lab. If need to keep storage_uri , how to set redis uri with host, port and **password**? In issue #2, there is no password mentioned.

[2021-01-01 07:42] himalacharya commented on #10
I also need response converted to a dictionary and modify the rate limit message as below(example) when rate limit is hit.
[code]

[2021-01-02 05:48] #27 closed

[2021-01-08 03:23] xuxueyang-dx opened #29 "how to support key_func is aysnc?"
i have two questions.
1. key func will async ，this don't support await execute.
2. How do the global limiter and individual limiter not affect each other in the same router.

[2021-01-08 03:43] #29 closed

[2021-01-08 15:01] himalacharya opened #31 "Ratelimit doesn't work after token expires"
I am rate limiting on two approaches:
i)based on IP address (for endpoint having no access token)
Works fine
ii) based on user id ( obtained from JWT token)
I have used https://pypi.org/project/fastapi-jwt-auth/ for JWTAuth. On the basis of #25 , in limiter.py

[code]

This works fine on unexpired JWT access token and ratelimits user. But when JWT access token expires, then it throws an error.

[c

[2021-01-09 09:36] vbrinza opened #32 "FastAPI 'RateLimitExceeded' is not defined"
I am trying the FastAPI example and I get :
[code]
Python 3.9
fastapi 0.63.0
slowapi 0.1.3

[2021-01-09 14:15] himalacharya commented on #32
Most of these things are missing in example. I have used this to import RateLimitExceeded
from slowapi.errors import RateLimitExceeded

[2021-01-10 15:13] laurentS commented on #31
@himalacharya did you find a solution to your problem? can you share here, if it was related to slowapi?

[2021-01-10 15:18] laurentS commented on #32
Thanks for pointing out the error, and sorry about the trouble, I need to find a better way to write these examples, so they remain valid as they get updated. I've updated the docs.

[2021-01-10 15:18] #32 closed

[2021-01-10 15:34] laurentS commented on #10
@nocturn9x I just realised that I've left this issue abandoned for months, sorry. Did you ever figure out a solution to your problem? Is it still relevant?
As a first thought, I imagine you could subclass `Limiter` and overload the `_inject_headers` method to do what you need. I'm not sure there's much value in doing this in slowapi, as I suspect it's a fairly uncommon use case, but I might be wro

[2021-01-10 16:34] laurentS commented on #6
I'm going to close this as inactive for a while. Please reopen and comment if still relevant

[2021-01-10 16:34] #6 closed

[2021-01-11 14:29] himalacharya commented on #31
The problem is that  user information cann't be decoded from expired token. However, above problem  it is solved by  try except  method.
[code]

[2021-01-11 21:42] nocturn9x commented on #10
Hi. Yeah this issue would still be relevant, can you illustrate any way of customizing that method?

[2021-01-11 22:07] laurentS commented on #10
Have you tried something like this? (adapting the FastAPI example from the docs)

[code]

Let me know if this helps.

[2021-01-11 22:17] laurentS commented on #31
My concern with your fix is that you seem to be mixing access control into rate-limiting, which could have security implications. In my mind, your access control layer should block the request if the access token is expired, and slowapi should never even see the request.

Looking at your problem again, have you tried using 2 limiter instances? one for each type of endpoint? I've not tried this bef

[2021-01-12 01:13] papapumpnz opened #33 "Global limit and routes setting a limit cause double response headers"
A default limit set as :
[code]

With routes that use the global limit, eg do not use the @limiter.limit decorator they respond with headers as expected with:
[code]

But routes that use the @limitier.limit decorator now get double headers as such:
[code]

and an error is thrown:
[code]

If the parameter 'swallow_errors' is set to False, SlowAPI throws an stack-trace with:
[code]

It seems since t

[2021-01-12 01:38] papapumpnz commented on #33
Further investigation it seems the issue only appears when using a custom method to return the limit, but does not happen when using a string.

[2021-01-12 02:14] himalacharya opened #34 "No need of Request in endpoint"
In relation to example in  issue #25 , ratelimit works without using Request in endpoint. I havenot used Request in any endpoint of my applicationBut documentation strongly suggests to use Request in endpoint.
Example:
[code]

[2021-01-12 20:22] papapumpnz commented on #33
The custom method to return a rate limit is simply:
[code]
So nothing fancy there. If I simply use a string on the limit decorator everything works as I would expect.

[2021-02-04 08:37] kodekracker opened #35 "Getting error in calling ratelimited route if set RATELIMIT_ENABLED=False in config"
We were trying to disable ratelimit check for all routes which are marked/decorated with `limiter.limit()`. For that, we set `RATELIMITE_ENABLED=False` in `.env` file or set `Limiter(enabled=False)`, then try to call any route which is decorated with `limiter.limit()`, we are getting following exception -

[code]

[2021-02-05 00:59] laurentS commented on #35
@kodekracker Thank you for bringing this up, and sorry about the trouble. I've opened a PR that should fix the problem. Can you try it out with your code, and let me know if it works? If so I'll push out a release to make it official :)

[2021-02-11 19:42] papapumpnz commented on #33
anyone else experiencing this issue?

[2021-02-11 19:50] papapumpnz opened #37 "Global user defined rate limit"
Routes without a decorator are not being limited when using a global defined rate limit.

[2021-02-11 20:53] papapumpnz commented on #37
I see the <code>application_limits</code> callable on the Limiter class which I have defined, but routes without a @limiter decorator on the endpoint it is not being rate limited.

[code]

[code]

[2021-02-11 22:21] laurentS commented on #33
I've been able to reproduce the issue in a test, but haven't had time to put together a complete fix. I'm not far off, I'll try to finish it over the weekend.

[2021-02-19 00:08] papapumpnz commented on #37
@laurentS I think this is the cause of the bug above.

middleware:SlowAPIMiddleware in line 25:
[code]
should be:
[code]
Seems that match.FULL enum is not be compared as true and is always matching, and then all routes are set as the handler and whatever route is last in the routes list gets picked.

Making the change seems to fix the problem at my end.

[2021-02-19 18:23] laurentS commented on #37
@papapumpnz that looks a lot like the fix in https://github.com/laurentS/slowapi/pull/30 does the PR work for you as well?

[2021-02-19 19:31] papapumpnz commented on #37
@laurentS  Yes, tested branch and it does.

[2021-02-20 09:42] kodekracker commented on #35
@laurentS Apologies for the late response. I was not so active on github in recent days. Thanks for quick reply and fix. I tested the PR branch locally in our project, the fix is working fine.

It would be great, if you do quick release along with this fix.

[2021-02-21 22:24] #35 closed

[2021-02-21 22:49] laurentS commented on #37
Fixed via PR #30  merged and released in 0.1.4

[2021-02-21 22:49] #37 closed

[2021-02-21 22:50] laurentS commented on #12
Closing as this was fixed in 0.1.2 with the middleware. See https://slowapi.readthedocs.io/en/latest/examples/#apply-a-global-default-limit-to-all-routes for an example

[2021-02-21 22:50] #12 closed

[2021-02-21 22:52] laurentS commented on #9
Closing this as the docs are now at https://slowapi.readthedocs.io/en/latest/
If you need more additions, please open new issues, and we can look into them.

[2021-02-21 22:52] #9 closed

[2021-02-21 22:53] laurentS commented on #17
I should have updated this issue a while back. Does [this example](https://slowapi.readthedocs.io/en/latest/examples/) show what you want?

[2021-02-21 22:54] laurentS commented on #8
I think the middleware (see https://slowapi.readthedocs.io/en/latest/examples/) does what you describe here. If not, feel free to reopen and clarify what you need.

[2021-02-21 22:54] #8 closed

[2021-02-23 12:46] transfluxus commented on #34
not for me. I am getting:
`Exception: No "request" or "websocket" argument on function "<function test at 0x7f2834c39e50>"`

[2021-02-23 12:48] transfluxus opened #38 "Change check for request based on type instead of name"
It would be nice if the paramter would be checked based on its type starlette.request.Request instead of the name,
Which would allow something like this:

[code]

I found where the check is but I couldnt figure out how to get the type back from the parameter object

[code]

[2021-02-23 12:49] transfluxus opened #39 "Add to docs limiter must be below the route annotation in order to work"
This works
[code]

but this doesnt

[code]

That would be useful for beginners to know (if they havent used any ratelimiter module before)

[2021-02-24 01:46] papapumpnz commented on #33
@laurentS still happening for me

[2021-02-24 11:28] laurentS commented on #34
@himalacharya I don't understand how the code would work without the `request` argument. Can you share a minimal example that reproduces it?

[2021-03-06 17:13] Maracko opened #40 "Cache backend documentation"
I cannot find the documentation on how to set up the different types of backend's (Redis,Memcache) anywhere in the docs.

Could you please add it to the documentation or point me in the right direction?

[2021-03-06 20:31] laurentS commented on #40
The docs do need a lot of work, don't they?

I'll eventually get to it, but here's how you can setup a redis backend:
[code]
where the `/n` in the redis url is the database number. To use the default one, just drop the `/n` from the url.

There are more examples in the [limits docs](https://limits.readthedocs.io/en/stable/storage.html) which is the library slowapi uses to manage storage.

Feel fre

[2021-03-13 23:50] laurentS commented on #40
I've just added an example in the [docs](https://slowapi.readthedocs.io/en/latest/examples/)

[2021-03-13 23:50] #40 closed

[2021-03-14 00:01] #39 closed

[2021-03-15 19:01] papapumpnz commented on #33
@laurentS Did you manage to get a fix for this?

Its causing some weird behaviour around the slowapi/extension.__limit_decorator:async_wrapper where the second request comes through as None throwing:

[code]

[2021-03-16 00:16] laurentS commented on #33
@papapumpnz no, sorry. I haven't found time to work on this any further. It would probably help if you could provide a couple of test cases that reproduce the error(s) you see (and the cases where you don't see an error).

[2021-03-16 03:44] papapumpnz commented on #33
Ok forked and have a new test suite called test_double_headers that produces double headers, or single headers. Difference is the limiter decorator uses either a callable (produces double headers) or a string (produces single headers).

[2021-03-19 10:27] dlindenkreuz opened #41 "Pass request object to limiter callbacks"
The request object cannot be accessed easily in some of the limiter callbacks (`limit_value`, `exempt_when`). Support for this would be really useful. This already seems to work with `key_func` which gets passed the `request` if the callback declares a `request` parameter.

This would also remove the need for the workaround from https://github.com/laurentS/slowapi/issues/13.

[2021-03-28 09:06] quiktea opened #44 "Access Limiter within route files"
I would like to access my limiter object which is in my `app.py` file, within one of my route files which are within my `routes` directory. Can anyone help me do this?

Current Code:
[code]

[2021-03-28 11:35] quiktea commented on #44
Never Mind, I have figured this out now. Thank you for making slowapi!

[2021-03-28 11:35] #44 closed

[2021-04-05 23:05] twcurrie commented on #23
This appears to be the implementation approach for this other [rate-limiting library](https://github.com/long2ice/fastapi-limiter) for FastAPI.

[2021-04-18 06:19] AyushSehrawat opened #47 "[ Question ] Any way to ratelimit on specific parameters?"
Got it :)

[2021-04-18 11:08] #47 closed

[2021-05-05 15:09] vbigbang commented on #3
Is there any update on this? My backend is fully asynchronous and at the moment I cannot use my helper functions to identify users by their API key because it's an asynchronous function, so I had to fallback to slowapi.util.get_remote_address

[2021-05-19 09:31] pranithan-kang opened #50 "Never Mind, I have figured this out now. Thank you for making slowapi!"
Never Mind, I have figured this out now. Thank you for making slowapi!

_Originally posted by @muunie in https://github.com/laurentS/slowapi/issues/44#issuecomment-808884444_

Cloud you please share how you can pass it to the router? I am facing this problem too.

[2021-05-19 09:31] #50 closed

[2021-05-19 09:32] pranithan-kang commented on #44
Cloud you please share how you can pass it to the router? I am facing this problem too.

[2021-05-19 09:48] pranithan-kang commented on #50
I figure it out by [this answer](https://github.com/laurentS/slowapi/issues/25#issuecomment-752116940)

[2021-06-01 12:52] parkournerd commented on #23
Awesome work. I think also this pattern fits best with fastAPI and reduces boiler-plate.

[2021-06-04 01:08] mandarup opened #52 "limits more than specified"
for some reason, I get half the rate specified.
e.g  2/minute -> 1,  10/minute -> 5

This is my set up:

[code]

Is there anything obviously that I might be missing here?

[2021-06-21 10:22] maitham commented on #23
You should just be able to create your dependency like this

[code]
[code]

[2021-06-22 19:54] ccorley commented on #35
@laurentS Just in case anyone else runs into this, some additional config info.  We are using 1.4 with FastAPI and have a single rate limit for the whole application, without annotation on each endpoint and without including Requests in the endpoint params.  Without setting auto_check to false when enabled is false we get the same error mentioned above, except in a different location:
[code]
The c

[2021-07-20 19:03] thearchitector opened #55 "support for aioredis"
Since FastAPI and Starlette are ASGI and are built on `asyncio`, it would be nice for slowapi to support `aioredis` as a storage backend. I imagine that it might require some playing around with the `limits` library, but would be a cool feature.

[2021-07-20 20:08] laurentS commented on #55
@thearchitector thanks for opening this issue. I think it relates to #3
What you're suggesting makes complete sense in my mind, I initially wanted to make `slowapi` fully async, just haven't found the time to do so. There's a [PR](https://github.com/alisaifee/limits/pull/61) on `limits` that I opened a while back to make it support async code, and I believe converting the `slowapi` code to async w

[2021-07-20 21:15] thearchitector commented on #55
@laurentS cool! if you cannot manage to get your PR merged, and its been a year so that might not be likely, another option would just be to just include that custom storage backend here or via a different package?

[2021-07-23 02:19] thearchitector commented on #55
@laurentS hey, i threw together a draft PR for migrating the library over to async/await. Obviously `limits` is still blocking, but its wrapped in a threaded executor so it doesn't block the event loop (same style as starlette).

there's a note about the decorator wrapper that may be a bit contentious, so let me know what you think! in the future, hopefully whenever `limits` implements your PR, th

[2021-07-25 06:00] karolzlot opened #57 "Limit concurrency to 1"
In my use case I want to limit concurrency to 1 for some endpoints to avoid race conditions.

I am looking for a limiter which will reliably not allow to have two requests at the same time to the same endpoint.

I wonder if this library will suit my needs?

[2021-07-25 06:09] karolzlot commented on #57
I would use ‘1 per second’ granularity.
But I wonder if concurrency will still be limited if requests take more than 1 second in this case?

[2021-07-26 10:34] Kavan72 commented on #41
@laurentS do you have any plan to add this is near future ?

[2021-07-27 09:49] laurentS opened #58 "Opening this repo"
I would like to run an experiment with this repo.
I am clearly not available enough to maintain this package at the pace I would like to, but it does seem to have gathered some amount of interest.
I would hate to see it become a problem for its users, and even more so for its contributors.

So I would like to do the following, in the hope that it helps `slowapi` be more useful, and improve at a fa

[2021-07-27 11:56] laurentS commented on #57
Hi @karolzlot
I don't think `slowapi` will do what you want. If a request takes more than 1 second to complete, when the second request comes in, let's say 1.1 sec after the 1st request started, the limiter backend would be queried, and return nothing (because the time window has expired), so the second request could go ahead, and I don't think this is what you want.
You could probably hack the co

[2021-07-27 13:55] karolzlot commented on #57
Thank you @laurentS

I was thinking about using file locks, but I will also check your suggestions about mutex and semaphore.

----

My use case:

I have many endpoints which works like this:

1. Database is queried to check for new tasks to do. (For example take rows which have A column filled but B column empty)
2. Do all tasks (in `for` loop)
3. Return "successfully finished /endpoint_abc" or s

[2021-07-27 15:38] twcurrie commented on #58
Thanks @laurentS.  Happy to help.

[2021-07-28 18:58] karolzlot commented on #57
Now as I more read about it I think some kind of database lock may suit me better.

It's not that I need to limit concurrency per endpoint, it's more that I need to limit concurrency per row in database.

[2021-07-28 19:00] #57 closed

[2021-08-21 18:51] Nebulizer1213 opened #59 "Question about get_ipaddr function"
this is how get_ipaddr currently works
`if "X_FORWARDED_FOR" in request.headers:
        r = request.headers["X_FORWARDED_FOR"]
        return r
    else:
        return request.client.host or "127.0.0.1"`
but the X-Forwarded-For gives two ips. So shouldn't it be
`if "X_FORWARDED_FOR" in request.headers:
        r = request.headers["X_FORWARDED_FOR"].split(",")[0]
        return r
    else:

[2021-08-21 19:09] Nebulizer1213 commented on #59
actually I don't think it matters because it will still be unique to that user. Unless the second ip changes. I'm not really sure what the second ip is.

[2021-08-21 19:11] Nebulizer1213 commented on #59
just looked it up it is the proxy ip. I think it would still be best to do it like this `request.headers["X_FORWARDED_FOR"].split(",")[0]`

[2021-08-21 19:23] laurentS commented on #59
@Nebulizer1213 I'm wondering if this might be due to how your server is configured, I don't recall seeing this duplicate IP.
Two comments though:
- as you point out, the limiter only really cares about having some sort of string to identify a user, it does not have to be an IP (this depends on your use case)
- the function in the code is just a convenience function to get you started, you don't ha

[2021-08-21 19:31] Nebulizer1213 commented on #59
ok thanks

[2021-08-21 19:31] #59 closed

[2021-08-30 23:53] #21 closed

[2021-09-13 19:21] sandeepkumar-one opened #64 "Change rate limit after the app has started"
Is it possible to change the rate limit of app or particular route after the app has started?

[2021-09-14 09:26] laurentS commented on #64
You should be able to pass a callable that returns a limit string, something like `1/minute`, as the limit definition in your decorator, instead of the hardcoded limit string. That function can then return whatever you need on any call. Something like:

[code]

Let me know if this works for your use case.

[2021-09-15 05:59] sandeepkumar-one commented on #64
Thank you Laurent for explanation. I suggest we add this example in the test case (tests/test_fastapi_extension.py).  It will be helpful for others as well.

[2021-09-15 07:28] laurentS commented on #64
Sounds good! Feel free to send a PR for this, or to add an example in the docs.

[2021-09-15 08:54] sandeepkumar-one commented on #64
Thanks, I will raise a PR. Could you please give me access to push a branch.

[2021-09-15 09:41] laurentS commented on #64
I don't have access to the repo settings from mobile, but you can fork the repo and open a PR from there.

[2021-09-22 17:46] sandeepkumar-one commented on #64
Hi Laurent, I raised a PR : https://github.com/laurentS/slowapi/pull/66 as per above discussion.

I have a doubt, as seen in my PR I am using exempt in this format : `@limiter.limit('exempt')` rather than `@limiter.exempt`. If I use the latter I am getting runtime error. Could you please check it once.

[2021-09-26 17:35] XPr0methiumX opened #67 "TypeError: __init__() got multiple values for argument 'key_func'"
The code :-
from fastapi import FastAPI, Request
from slowapi import Limiter, _rate_limit_exceeded_handler
from slowapi.util import get_remote_address
from slowapi.errors import RateLimitExceeded
from threading import Thread
from lyrics_extractor import SongLyrics
from helpers.meme import get_meme

app = FastAPI(title="General API V2", description = "An API for everything!")
limiter = Limiter(app,

[2021-11-08 11:44] laurentS opened #69 "Support python 3.10"
Add it in CI

[2021-11-13 23:13] Rested commented on #67
You're gonna want to initialize like this:
[code]

It doesn't take `app` as the first argument. See https://slowapi.readthedocs.io/en/latest/

[2021-11-13 23:13] #67 closed

[2021-11-14 10:35] #69 closed

[2021-12-08 20:02] AntonGsv opened #74 "Endpoint with limiter does not show 429 as a possible answer on the documentation page"
Endpoint with limiter does not show 429 as a possible answer on the documentation page

[2021-12-08 20:17] AntonGsv opened #75 "Error in the documentation"
In [the example on the documentation page](https://slowapi.readthedocs.io/en/latest/), the limit on a request to any of the endpoints adds 2 to the counter, this behavior can be corrected by making the name of the decoded functions different.
Extended version of the code from the documentation for reproduction:
[code]

[2021-12-09 18:21] twcurrie commented on #74
To elaborate, the generated OpenAPI docs available for the service at `/docs` (or `/redocs`?) do not show that 429 is a possible response for an endpoint with the rate limiter configured?

[2021-12-09 19:23] AntonGsv commented on #74
@twcurrie Yes, right now the decorator has no effect on OpenAPI generation.
[code]

I have to specify the error manually to get the desired result:
[code]

Since the decorator before app.get does not work is there an alternative way to automatically generate 429 response code for OpenAPI?

[2021-12-09 20:01] twcurrie commented on #74
I'd need to review the internals of FastAPI's docs generation to identify a way to hook into that process.

[2021-12-10 15:33] laurentS commented on #75
Can you confirm that changing one of the function names, say to `homepage2` fixes the error?

My guess is that the code that generates the hash keys for each request is too simplistic and should use something else than function name.

[2022-01-18 16:54] #75 closed

[2022-01-18 23:27] laurentS opened #82 "Drop support for python 3.6"
Python 3.6 reached its end of life in December, so we should drop support for it.

[2022-01-18 23:49] twcurrie opened #83 "Code coverage checks"
It'd be good to setup some automated code coverage checks to validate PR's provided don't reduce the existing code coverage.  Ideally, there'd be a zero cost option for something within the public domain.

[2022-01-25 07:20] danielqba commented on #52
Hey, I know it is really a long time ago, but are you still having this issue?

[2022-02-02 08:38] #82 closed

[2022-02-02 08:38] #83 closed

[2022-02-17 20:03] Matt0550 opened #85 "$.ajax and $.getJSON request not limited"
Hi everyone, I'm having a problem. When I make too many browser or postman requests rightly the APIs block me as I set, but if I make a request via AJAX and jquery's $ .getJSON, I'm not limited. How can I solve?

[2022-02-19 20:32] laurentS commented on #85
Hi @Matt0550 can you copy the exact content of the requests being made in both cases? And your setup of slowapi? It's a bit difficult to help you with no info about your config.

[2022-02-19 20:33] Matt0550 commented on #85
With Stackoverflow I fixed https://stackoverflow.com/questions/71164792/fastapi-and-slowapi-not-working-on-ajax-and-getjson-request-python

[2022-02-27 22:57] #85 closed

[2022-03-09 00:37] pwichmann opened #86 "Feature request: Return remaining API calls"
What an amazing, easy to use tool this is!
**Is it possible to return the number of remaining API calls (per decorator) to the user of the API?**
This way the user of the API can better understand how his/her interaction with an app results in API calls and how many are left.

[2022-03-09 00:42] twcurrie commented on #86
There are [headers injected ](https://github.com/laurentS/slowapi/blob/master/slowapi/extension.py#L354-L405)to the response that provide some of that information.  It's enabled within the __init__, just [set to false by default](https://github.com/laurentS/slowapi/blob/master/slowapi/extension.py#L141).

[2022-03-25 03:23] a-yangyi opened #88 "Redis Version Conflict: install failed when redis > 4.0"
The conflict is caused by:
    The user requested redis==4.2.0rc3
    slowapi 0.1.5 depends on redis<4.0.0 and >=3.4.1

[2022-04-19 15:38] swartchris8 opened #91 "Update fastapi snippet so it can work from copy paste"
Hello,
This project is awesome thanks for all the work could the docs for fastapi be updated to this:

[code]

The current snippet misses the Request and Response import and I can't find a text response in fastapi

The above edited snippet will work when copy pasted!

[2022-04-20 12:43] laurentS commented on #91
Hi @swartchris8 thanks for providing this code sample (and the kind words)! Just to make sure I've got the right context, can you confirm which version of fastapi you're running this with?

[2022-04-21 14:53] alexjolig opened #92 "How to rate limit based on [user id/Token]"
I need to implement the rate limitation based on JWT token. But in `utils.py` I can only see functions to get user's ip address. So is that possible to customize this. For example I can get the user info from `request.state.user`. How can I limit based on that?

[2022-04-22 10:18] swartchris8 commented on #91
I am on `fastapi==0.67.0`

[2022-04-22 12:16] alexjolig opened #93 "Setting two different rate limits, does not work"
I'm testing this sample code to check the library:

[code]

 But here's the problem, This endpoint works well for limiting only 2 request per minute:

[code]

But this one does not work for 3 requests per minute and throws error after requesting 2 times:

[code]

I get this error, which seems unrelated to _"3/minute"_

`{"error":"Rate limit exceeded: 2 per 1 minute"}`

Am I missing something here?

[2022-04-22 14:40] twcurrie commented on #93
You've used the same function name.

[2022-04-22 15:59] twcurrie commented on #93
@alexjolig Can you change the name of the functions so they aren't the same and try again?  Both of your functions are named `homepage` and this can cause issues when FastAPI interprets the file.

[2022-04-22 16:25] alexjolig commented on #93
@twcurrie You were right. I somehow missed that. changing the name of the second function fixed the issue. But I have to mention that I did the mistake using `limits` library with a decorator I wrote and it worked fine:

[code]

[2022-04-22 16:35] #93 closed

[2022-04-22 17:02] twcurrie commented on #93
Without the source code for your custom decorator, I can't comment on why it would work, but did you use [`functools.wraps`](https://docs.python.org/3/library/functools.html#functools.wraps) with your custom decorator?  By using that [decorator](https://github.com/laurentS/slowapi/blob/master/slowapi/extension.py#L631), it preserves the original function name, hence the conflicts.

[2022-04-22 17:05] alexjolig commented on #93
@twcurrie Yes, I used `functools.wraps` in my decorator:

[code]

[2022-05-11 19:56] VMAtm opened #94 "Feature request: Add support for the `cost` keyword parameter from Limits"
In the 2.3 version of the limits the custom `cost` parameter was introduced:
https://github.com/alisaifee/limits/releases/tag/2.3.0

Could you please update the code so it can be adjustable? E.g., it can be useful to throttle requests based on content-length header, and not just a request counts

[2022-05-12 06:33] laurentS commented on #94
Hi @VMAtm thanks for raising this. I don't have bandwidth to work on this at the moment. You're welcome to submit a PR with the needed changes though!

[2022-05-17 03:20] Bear1110 commented on #13
This post help me a lot! Thanks

[2022-05-27 12:25] ResetXD opened #95 "places to ask for help?"
Is there a discord server or gitter where someone could ask questions?
i think GitHub issues page isn't the best place to ask small library related questions.

[2022-05-30 10:45] laurentS commented on #95
We don't have a gitter or discord, but I've just setup [discussions](https://github.com/laurentS/slowapi/discussions) for this repo, which indeed would be a better place to ask questions than the issues tracker.

Closing this now, but you're welcome to ask your question over there!

[2022-05-30 10:45] #95 closed

[2022-06-14 20:12] twcurrie opened #98 "Move to ASGI middleware implementation?"
There's been an uptick in issues ([1,](https://github.com/encode/starlette/issues/919) [2,](https://github.com/encode/starlette/issues/1029) [3, ](https://github.com/tiangolo/fastapi/issues/4719#issuecomment-1153568508)etc.) around Starlette's BaseHTTPMiddleware class, so much so that some are proposing to [deprecate it.](https://github.com/encode/starlette/issues/1678)

Should we shift the implem

[2022-06-14 21:01] Kludex commented on #98
If help wanted, let me know.

[2022-06-15 06:37] laurentS commented on #98
While I don't have any strong opinion either way, the proposal you linked to seems to still be under heavy discussion (last comment there was after this ticket was opened).
Is it worth pausing for a moment to see which way they decide to go?

I don't really have much time to dig into this, but happy for others to contribute and accept a PR around this. I would just suggest trying to follow whateve

[2022-06-20 17:07] antoinekrajnc commented on #34
Hi @transfluxus , I ran into the same issue. What worked for me is simply to add:

[code]

eventhough `request: Request` is not used within your function

Hope that helps!

[2022-06-23 08:55] adriangb commented on #98
There are generally no _downsides_ to using pure ASGI middleware and there are some small upsides like better performance (BaseHTTPMiddleware creates queues, tasks, etc.).

Are you concerned about backwards compatibility? I think it would only be an issue if you had users subclassing `SlowAPIMiddleware` right?

[2022-06-30 10:36] salsudeer opened #102 "Feature request: Add support for multiple key_func"
To allow rate limiting by more than one key. Maybe accept a list of callable as key_func

[2022-06-30 11:48] #102 closed

[2022-07-19 15:46] salsudeer commented on #88
Any update on this?

[2022-07-27 09:39] xbogdan commented on #88
This is still causing issues, maybe remove the redis version requirement? I see that the limits package supports redis >3 and <5. Is it necessary to have it in the pyproject.toml though?

[2022-07-27 22:28] twcurrie commented on #88
Sorry, this was resolved with the PR #96, but a new release wasn't published.  We'll follow up with that and publish the latest as a release.

[2022-07-29 10:49] laurentS commented on #88
Hi all, sorry for the lag. I am still the only person who can push a release. I will try to make one in the next few days, and find a way to make the release process go through github actions, so that any maintainer of the repo can create one going forward.

[2022-07-29 11:00] twcurrie commented on #88
@laurentS I have the start of a branch to do so, but at a minimum, you'll need to put some pypi credentials as a repo secret.

[2022-07-29 11:03] laurentS commented on #88
@twcurrie brilliant! Feel free to open a PR whenever you're happy with your code. I'd really like to make it so that there is no single bottleneck in the maintenance of this repo (particularly me!).

[2022-08-02 07:50] salsudeer commented on #88
Waiting for it 🙏

[2022-08-02 08:15] twcurrie commented on #88
Due to personal reasons, I won't have any github action based release process PR ready soon.  @laurentS will need to manually issue the release.

[2022-08-11 09:24] krissik opened #105 "Can slowapi be used in production?"
The documention says:
`
Note: this is alpha quality code still, the API may change, and things may fall apart while you try it.
`

Because of that I am unsure if it can be used in production.

[2022-08-11 11:49] 10ourto opened #106 "Is it possible to bump limitis package version up to 2.1?"
https://limits.readthedocs.io/en/stable/storage.html#async-storage
It'll allow us to use async redis

[2022-08-15 15:16] 10ourto commented on #55
@laurentS @thearchitector what is the current status?

[2022-08-15 15:23] 10ourto commented on #55
I've bumped version of `limits` up to 2.1 and have tried to use `async+redis://localhost:6379/0` with `limits[async-redis]` extension, but seems it doesn't work out of the box
Error relates to this assertion
<img width="1688" alt="image" src="https://user-images.githubusercontent.com/108665166/184664305-6f8c9582-532e-4604-a1b2-31501ff6c1c3.png">

[2022-08-15 16:26] laurentS commented on #105
@krissik I use it on a small scale production deployment (single server, low traffic). I think some other contributors to this repo use the package in production, but I'll let them confirm.

We should update this statement which is a couple of years old. I think the main change I can foresee in the API is the switch to full async support.
Unless you are using this for very big scale deployments, i

[2022-08-19 04:57] moo611 opened #107 "@limiter.limit("1/second") not working"
it worked based on minute, but not working based on second

[2022-08-19 04:58] moo611 commented on #107
this is my code
`
@app.get("/test")
@limiter.limit("1/second")
async def test(request: Request):
    time.sleep(2)
    return "hello"
`

[2022-08-19 05:39] nocturn9x commented on #107
why would you use `time.sleep()` in an async function?! It seems you need to learn how to use Python before using this library...

[2022-08-19 07:26] laurentS commented on #107
Let's try and be kind to each other.

@moo611 can you explain a bit more what you are trying to do? As @nocturn9x  pointed out, your example is a bit confusing.
Can you also clarify what you mean by "it's not working". Do you get a specific error?

[2022-08-19 10:55] moo611 commented on #107
Ok, it's my mistake.Just as @nocturn9x say, I should not use time.sleep in an async function.

[2022-08-19 16:20] laurentS commented on #107
Glad you found your problem. Can we close this issue?

[2022-08-24 10:10] laurentS commented on #58
I've just added a number of people who had contributed PRs in the last few months.

[2022-08-24 12:40] #107 closed

[2022-08-30 01:14] moo611 opened #111 "how to control limit by duration?"
I want to set min duration between each requests. For example I want at least 30s duration between each request.How can I achieve it?

[2022-08-30 06:41] nootr commented on #111
Sounds like you want to set a limit of `1/30seconds` with a `moving-window` strategy:

[code]

Note that I haven't tested this code, there could be bugs. Let me know if this works for you.

For more info, check `limits`'s docs on [rate-limit-string-notation](https://limits.readthedocs.io/en/latest/quickstart.html?highlight=strategy#rate-limit-string-notation).

@laurentS Maybe there should be docs

[2022-08-30 07:13] laurentS commented on #111
The different strategies are [documented](https://limits.readthedocs.io/en/latest/strategies.html) in `limit`s docs. Do you think we should duplicate this, or just point to it?

[2022-08-30 09:02] #94 closed

[2022-08-30 12:22] moo611 commented on #111
okay, I got it. Thanks for all. And I think it is better to write down some strategies for beginners.

[2022-08-30 12:24] nootr commented on #111
The strategies are documented, but I was thinking about the string values of the strategies (`fixed-window`, `fixed-window-elastic-expiry`, `moving-window`). These aren't mentioned in the `limits` docs, except in the [source code](https://limits.readthedocs.io/en/latest/_modules/limits/strategies.html).

Maybe we could cross-reference to `limits.strategies.STRATEGIES` in the docstrings?

[2022-08-31 12:39] #111 closed

[2022-09-19 09:22] magaofei opened #112 "Do slowapi support rate limiting by parameters?"
I want to rate limiting my web service API that has some parameters like user_id and user_name I want to limit by user_id and user_name because I want to limit per user request, what should I do?

[2022-09-19 09:43] laurentS commented on #112
Does [this issue](https://github.com/laurentS/slowapi/issues/13) help? If not, can you clarify what you are trying to do?

[2022-09-19 13:19] #112 closed

[2022-09-27 17:24] thentgesMindee commented on #98
Hi, for my particular use-case, I need the middleware to be a pure ASGI middleware, since I want to use background tasks as well. According to my tests, and [starlette's documentation](https://www.starlette.io/middleware/).

I'm currently writing it in my application and I'm almost done. It would be a pleasure to contribute to this project with my ASGI implementation of the SlowAPIMiddleware.
Howe

[2022-09-27 17:30] twcurrie commented on #98
IMHO, shifting from the BaseHTTPMiddleware to pure ASGI would be a major revision and would need more review before merge.  I think contributing it as a second middleware would be the easiest path forward at this point.

[2022-09-27 17:45] thentgesMindee commented on #98
@Kludex good catch, anyway I'm using fastAPI which have a strict dependency on 0.20.4 for now :smile:
Anyway, I may open a PR in the coming days with an alternative middleware making sure current the `BaseHTTPMiddleware` stays the same while giving the ability to use a pure ASGI one instead.

[2022-09-29 10:52] thentgesMindee commented on #98
For those interested, here is the associated PR for the ASGI middleware I wrote: https://github.com/laurentS/slowapi/pull/113
Don't hesitate to comment and review it if you feel so :smile:

[2022-10-11 05:42] 239144498 opened #114 "Encountered an error reporting: AttributeError: 'State' object has no attribute 'view_rate_limit'"
Code reproduction：

slowapi code configuration

[code]

This is my interface code

[code]

When I request the interface demo1 I get the error AttributeError: 'State' object has no attribute 'view_rate_limit', When I comment out the @limiter.exempt and then request the interface demo1, it works fine.

The following is the complete log of errors reported.

[code]

I don't know how to fix this error

[2022-10-13 12:59] laurentS commented on #114
@239144498 thanks for opening this. Can you try to change the name of the route handlers so that they are different? Like `channela` and `channelb` for instance?

Even if they are fastapi routes, they are still python functions, and they should have different names, otherwise, you're essentially overriding one function definition with the other.

[2022-10-14 10:44] laurentS commented on #114
This should help https://github.com/laurentS/slowapi/issues/13

[2022-10-15 12:17] 239144498 commented on #114
Thank you very much, this is a workable solution.

[2022-10-15 12:17] #114 closed

[2022-10-22 05:41] mallorbc commented on #92
[code]
You have to pass values through cookies.  In the body it will not work due to asyc.

[2022-10-22 05:55] mallorbc opened #115 "Information on ratelimit-string"
Throughout the code and docs, it says to refer to ratelimit-string for more information on what are valid inputs.  However, I am unable to find information on this and have just guessed so far for my usage.  I would appreciate information on all the options

[2022-10-24 10:15] laurentS commented on #115
Hi @mallorbc sorry this was confusing. Is this link what you're after? https://limits.readthedocs.io/en/stable/quickstart.html#rate-limit-string-notation
Let me know if this helps. We'll have to update the docs to include this, and maybe some examples.

[2022-10-25 20:21] juanretamales opened #116 "Error in production"
**Describe the bug**
Use Gunicorn in production

**To Reproduce**
Use gunicorn for start and call a endpoint with limit

**Expected behavior**
do nothing

**Screenshots**
If applicable, add screenshots to help explain your problem.
`Oct 25 20:16:46  gunicorn[12540]:     return await dependant.call(**values)
Oct 25 20:16:46  gunicorn[12540]:   File "/home/ubuntu/proyect/api/env/lib/python3.10/site-

[2022-11-03 03:33] china-zhoujie opened #117 "How to call in APIRouter'?"
How to call in APIRouter'?
Error:AttributeError: 'APIRouter' object has no attribute 'state'

[2022-11-07 15:59] #98 closed

[2022-11-08 11:56] thentgesMindee commented on #106
Closing this issue since it seems to have been resolved in #110

[2022-11-08 12:07] #106 closed

[2022-11-08 13:11] laurentS commented on #116
Hi @juanretamales I suspect this is a problem with your code, where ` File "/home/ubuntu/proyect/api/env/lib/python3.10/site-packages/slowapi/util.py", line 21, in get_remote_address Oct 25 20:16:46 gunicorn[12540]: return request.client.host or "127.0.0.1" Oct 25 20:16:46 gunicorn[12540]: AttributeError: 'NoneType' object has no attribute 'host'` is the key point:

`request.client` is None in you

[2022-11-08 13:17] laurentS commented on #117
Hi @china-zhoujie can you share your code and the full error message you are seeing?
Also please include the versions of Fastapi/starlette that you're using.

It is impossible to help you with what you shared.

[2022-11-08 13:19] laurentS opened #119 "Add support for python 3.11"
Now that it's officially released, we should add support for it, as it's full of good stuff :kiwi_fruit: :strawberry: :green_apple:

[2022-11-12 23:35] juanretamales commented on #116
i search and the problem si when you use **gunicorn** (here has the problem), i suggest any method or option for skip the error when appears.

[2022-11-14 10:13] thentgesMindee commented on #116
Hi @juanretamales
If I'm not wrong, this error happens when your application is running behind a proxy such as nginx (maybe gunicorn as well).
You should make sure you correctly proxy the headers at the proxy level.

[2022-11-14 12:49] thentgesMindee commented on #116
Here is an example configuration that should do the trick, if you use nginx
[code]

[2022-11-15 12:23] samvr-pxl commented on #52
I'm still having this issue as well. But it's not always reproducible. I thought it had to do with the `--reload` flag for setting up fastapi, but that was not it.

[2022-11-23 14:30] laurentS commented on #116
@juanretamales did the comment above help? if so can you close this issue?

[2022-11-24 12:15] thentgesMindee commented on #52
Hello @samvr-pxl could you also share how you run your server ? is it a development server ? using uvicorn ?
That could help us find the reason

[2022-11-24 15:56] marrocksd commented on #117
Init in the main module,
then just reuse in the Router, don't init again

from slowapi import Limiter
from slowapi.util import get_remote_address

limiter = Limiter(key_func=get_remote_address)

[2022-11-26 14:21] edgorman opened #122 "New release/tag"
Hey @laurentS

Just wondering if you're thinking of creating a new release/tag soon with the latest changes, I'm keen to use the custom cost per hit function for the limiter in a project of mine, but [v0.1.6](https://github.com/laurentS/slowapi/releases/tag/v0.1.6) was created a few days before the [PR for the change](https://github.com/laurentS/slowapi/pull/110) was merged.

Great project by the

[2022-11-26 14:23] thentgesMindee commented on #122
Hi ! a new release should come in a few days depending on Laurent’s availability: #120

[2022-11-26 14:36] edgorman commented on #122
Perfect, thanks for that I'll close this ticket then

[2022-11-26 14:36] #122 closed

[2022-11-28 10:31] laurentS commented on #115
@mallorbc Did the above link solve your problem?

[2022-11-28 10:35] laurentS commented on #31
@himalacharya Is this still an issue?

[2022-11-28 10:36] laurentS commented on #10
@nocturn9x Can we close this issue?

[2022-11-28 10:38] nocturn9x commented on #10
Yup, sorry if I never replied back. Thanks for the solution, btw!

[2022-11-28 10:38] #10 closed

[2022-11-29 07:56] mallorbc commented on #115
Yes thank you!  Perhaps adding a link to the README may be a good idea for others?